* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 0 40px;
}

.btn {
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}





/* __ / common____ */






/* ____navbar_____ */

nav {
    background-color: rgb(0, 132, 253);
}

.nav-contained {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav-contained img {
    width: 100px;
}

.nav-contained i {
    font-size: 2em;
    color: white;
}

.nav-contained ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
}

.nav-contained .nav-menu-big {
    display: none;
}

.btn-white {
    padding: 5px 10px;
    background-color: white;
    color: black;
}




/* ____jumbo_____ */

#jumbo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
}


.jumbo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: calc(100% / 5);
    background-color: rgb(181, 221, 255);
    border-radius: 20px;
    padding: 50px;
}

.btn-blu {
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(0, 132, 253);
    min-width: 100px;
    width: 70%;
    height: auto;
    letter-spacing: 3px;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.card-details h2 {
    font-size: 2em;
    color: rgb(0, 132, 253);
}

.jumbo-card .card-details p {
    text-align: left;
}

.jumbo-card .icon-big i {
    font-size: 5em;
    color: rgb(0, 132, 253);
}

.jumbo-card h3 {
    font-size: 1.3em;
    font-weight: bolder;
    color: rgb(0, 132, 253);
}

.jumbo-card p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
    color: rgb(90, 110, 127);
}

#jumbo .jumbo-card:first-child {
    height: calc(100% / 5 * 2);
    padding-bottom: 0;
}

.jumbo-card .card-image {
    width: 100%;
    height: 100%;
}

.jumbo-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}







/* _____main______ */

/* _____planning_____ */

#planning {
    background-color: rgb(151, 146, 228);
    padding: 60px 0;
}

.plan-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.main-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px;
    border-radius: 80px;
    text-align: center;
}

.main-card .card-image {
    width: 100%;
}

.main-card .card-image img {
    width: 100%;
    object-fit: cover;
}

.main-card .card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card p {
    font-size: 1.4em;
    line-height: 2em;
}

.strat-plan {
    gap: 80px;
    color: white;
    padding: 0;
    text-align: start;
}

.strat-plan p {
    padding-top: 40px;
}

.strat-plan h2 {
    color: white;
    font-size: 3em;
}

.app-dev {
    background-color: white;
}

.app-dev h3 {
    font-size: 2em;
}

.app-dev p {
    font-style: italic;
}

.card-details .down-arrow {
    width: 80px;
    height: 80px;
    background-color: rgb(151, 146, 228);
    border-radius: 50%;
    font-size: 1.8em;
    line-height: 2.9em;
}





/* _______testimonials______ */




















@media screen and (min-width: 768px) {
    .nav-contained {
        height: 100px;
    }

    #jumbo {
        flex-flow: row wrap;
    }

    .jumbo-card {
        height: auto;
        width: calc(100% / 3 - (20px / 3 * 2));
    }

    .jumbo-card h3 {
        font-size: 1.2em;
    }

    .jumbo-card p {
        font-size: 0.9em;
    }

    .btn-blu {
        font-size: 0.8em;
        width: 50%;
        padding: 10px 0;
    }

    #jumbo .jumbo-card:first-child {
        width: calc(100% / 3 * 2 - (20px / 3));
        height: auto;
        gap: 20px;
    }


}


@media screen and (min-width: 768px) and (max-width: 991px) {
    
    #jumbo .jumbo-card:first-child .card-details {
        height: 50%;
    }

    
    #jumbo .jumbo-card:first-child .card-image {
        width: 50%;
        height: 50%;
        align-self: flex-start;
    }

}

@media screen and (min-width: 991px) {
    
    .container {
        max-width: 900px;
        margin: auto;
    }

    .nav-contained {
        height: 90px;
    }

    .nav-contained .nav-menu-small {
        display: none;
    }
    
    .nav-contained .nav-menu-big {
        display: flex;
        align-items: center;

    }

    #jumbo .jumbo-card:first-child {
        height: auto;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .btn-blu {
        width: 70%;
        font-size: 0.7em;
        padding: 10px;
    }

    .jumbo-card .card-details h2 {
        font-size: 1.3em;
    }

    
    .jumbo-card h3,
    .main-card h3 {
        font-size: 1.2em;
    }

    .jumbo-card p, 
    .main-card p {
        font-size: 0.8em;
    }



    .jumbo-card:first-child .card-details {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .jumbo-card:first-child .card-image {
        height: 90%;
    }

    
    .jumbo-card:first-child .card-image img {
        height: 100%;
        width: 100%;
    }


    .plan-container {
        flex-direction: row;
        align-items: flex-end;
        max-width: 700px;
        gap: 30px;
    }

    .plan-container .main-card {
        width: 50%;
    }

    .card-details .down-arrow {
        width: 40px;
        height: 40px;
        font-size: 0.8em;
    }

    .strat-plan h2 {
        font-size: 2em;
    }

    .strat-plan .card-details {
        align-items: flex-start;
    }

    .app-dev {
        padding: 20px;
    }

}