* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 20px auto 0;
}


/* ______nav bar___________ */

nav {
    min-height: 40px;
    background-color: rgb(0, 132, 253);
    padding: 20px;
}

.navbar {
    flex-flow: row nowrap;
}

.nav-list ul{
    display: flex;
    flex-direction: row;

    line-height: 40px;
    color: white;
    list-style-type: none;
}

.logo img {
    width: 200%;
}

.menu-mobile i {
    font-size: 3em;
}

.menu-desktop {
    display: none;
}


/* ________jumbo in header________ */


.jumbo {
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    padding-top: 60px;
}

.jumbo-inner {
    width: 100%;
    min-height: 400px;
    background-color: rgb(181, 221, 255);
    border-radius: 30px;
}

.image-caption {
    justify-content: flex-start;
    padding-top: 60px;
    font-size: 2em;
    color: rgb(0, 132, 253);
}




.image-container img {
    width: 100%;
}